*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family:'Varela Round', sans-serif;
    box-sizing: border-box ;
    font-size: 1rem;
}

.background-grey{
    background-color:#6a7b8b;
    colour: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.background-grey_f {
    background-color:#6a7b8b;
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    color: white;
    background:#6a7b8b;
}

header img {
    width: 15%;
    margin: 1% 2%;
   }

.navbar-brand {
    background: #6a7b8b;
   }

   nav.navbar navbar-expand-lg navbar-light bg-light{
    color: white;
    background:#6a7b8b;
    padding: 0%;
   }



.collapse navbar-collapse justify-content-end {
    background: #6a7b8b;
}

nav a {
    width: auto;
    text-decoration: none;
    color: white;
    text-align: center;
    position: absolute top;

}

nav a:hover {
    font-family:'Varela Round', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid white;
}

#wrapper{
max-width: 100%;
margin: 0 10% 0 10%;
background-color: white;

}
 
.section1_1 img {
    width: 50%;
    margin: 1% 2%;
}

.section1_2 img {
    width: 100%;
    margin: 1% 2%;
}

.section1_3 {
    margin: 2%;
    color: #5c5b5b;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-stretch: ultra-expanded;
    font-size-adjust: initial;
    font-weight: 900;
    font-size: 150%;
    margin-bottom: 30px;
}

.boxed img {
    width: 70%;
    justify-items: center;
}

.boxed{
    display: inline-flex;
   flex-direction: row;
}

.box_1 {
    margin: 1% ;
    background-color: #bac1c8;
    color: white;
    padding: 10%;
        justify-content: center
}
.box_2 {
    margin: 1% ;
    background-color: #bac1c8;
    color: white;
    padding: 10%;
        justify-content: center
}
.box_3 {
    margin: 1% ;
    background-color: #bac1c8;
    color: white;
    padding: 10%;
        justify-content: center
}

.icon {
    height: 10rem;
    width: 10rem;
    padding: 3%;
    margin:0 auto;
    display:block
}
a.navbar-nav {
    background: #6a7b8b;
    color: white;
}
.nav-item {
    background: #6a7b8b;
    color: white;
}